    <!-- content begin -->
        <div id="content" class="no-padding">
			<!-- section begin -->
            <section id="section-intro-2" class="no-padding autoheight light-text let-it-snow" data-stellar-background-ratio="0.5">
                <div class="center-y">
                    <div class="inner text-center">
                        <div class="divider-double"></div>
                        <div class="type-wrap title big">
                            <div class="typed-strings">
                                <p>Data Analytics at <span id="scale">Scale</span></p>
                                <p>Sustainability Analytics</p>
                                <p>Cognitive Solutions</p>
                            </div>
                            <span class="typed"></span>
                        </div>
						
						<div class="divider-single"></div>
						<a href="#" class="btn-custom">Get Started</a>
                        <a href="#" class="btn-border-light wow fadeInUp" id="main-button">Learn More</a>
                        <div class="divider-double"></div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <div class="clearfix"></div>
	
			<!-- section begin -->
            <section id="components" class="bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="callout-text">
                                <h2>Analytics on an epic scale</h2>
                                <h4>Plex is helping to address changes to our climate with platforms that help manage your sustainability</h4>
                            </div>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-md-6">
                            <h3 class="m-t-xxxl"><strong>Employee Engagement</strong></h3>
                                 <p>
                                    Your employees are your true assets. You need to care for them, and work to understand their needs. Plex Talent asks your employees the right questions to understand their engagment. </p>
                                <p>
                                    The quality of an organization’s human resources is perhaps the leading indicator of its growth and sustainability. The attainment of a workplace with high-caliber employees starts with the selection of the right people for the right jobs. </p>
                        
                        </div>
                        <div class="col-md-6">
                            <%= image_tag "s2.png", class: "wow fadeIn" %>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row m-t-xl">
                        <div class="col-md-6">
                            <%= image_tag "s4.png", class: "img-responsive" %>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <h3 class="m-t-xxl"><strong>Sustainability Metrics</strong></h3>
                            <p>At Plex, we’re working with organizations to leave a lasting legacy that benefits all of humanity. That’s why we’re building platforms that help you conserve more, use less, source more responsible materials, and find better ways to work and be a leading voice.</p>
                            <p>With Plex sustainability metrics, not only do we help you to track how you impact our climate, but we help you to benchmark against those in your industry and asset class.</p>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row  m-t-xl">
                        <div class="col-md-6">
                            <h3 class="m-t-xxl"><strong>Economic Impact</strong></h3>
                            <p>We’re taking a close look at how to place an organizations economic, social and environmental sustainability at the center of their strategy. Plex uses all three of these components to influence economic performance while making decisions that have a positive impact on our world.</p>
                        </div>
                        <div class="col-md-6">
                            <%= image_tag "s1.png", class: "img-responsive" %>
                        </div>
                    </div>
                    <div class="row m-t-xl">
                        <div class="col-md-6">
                            <%= image_tag "s3.png", class: "img-responsive" %>
                    </div>
                    <br>
                        <div class="col-md-6">
                            <h3 class="m-t-xxl"><strong>Social Data</strong></h3>
                            <p>Plex wants our users (many of which are large organizations) to value their global relationships, but understand that change happens on the local level. Plex helps companies actively track their resources, time, talents, materials and leadership to tackle entrenched issues like education and environment.</p>
                        </div>
                    </div>
                </div>
            </section>

<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2>So many features to discover with Plex</h2>
            </div>
        </div>
        <br>
        <div class="row m-t-lg">
            <div class="col-md-4 col-md-offset-2">
                <strong>Data Collection</strong>
                <p>Learn how Plex collects your data, and understand the reporting process. Also, get insights into what frameworks we use, and get up to date tips on how to engage your organization in data collection.</p>
                <a class="btn btn-success btn-sm">Learn more</a>
                <br>
                <br>
            </div>
            <div class="col-md-4">
                <strong>Reporting</strong>
                <p>Learn how to access your data, using its results to report back to your board, and teams. The goal with Plex Reporting is to change the way you conduct business to further promote your organizations mission.</p>
                <a class="btn btn-success btn-sm">Learn more</a>
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-md-4 col-md-offset-2">
                <strong>Peer Analytics</strong>
                <p>Peer analytics helps you to understand where you are today benchmarked to those of your peers. It will help you to understand where you are today, and where you need to go. </p>
                <a class="btn btn-success btn-sm">Learn more</a>
            </div>
            <div class="col-md-4">
                <strong>Talent Analytics</strong>
                <p>Set survey periods, select questions, and manage your results. Plex understands you want some controls over what's asked, when and how it's reported. Head over to our Talent Center for more information.</p>
                <a class="btn btn-success btn-sm">Learn more</a>
            </div>
        </div>
    </div>
</section>

    <section id="section-services" class="no-padding">
                <div class="box-container">
                <div id="bg-service-1" class="box-one-third light-text">
                    <div class="inner wow" data-wow-delay="0s">
                        <h2 class="wow fadeIn" data-wow-delay=".2s">Data Analytics</h2>
                        <p class="wow fadeIn" data-wow-delay=".3s">The word cargo refers in particular to goods or produce being conveyed generally for commercial gain by ship, boat, or aircraft, although the term is now often extended to cover all types of freight, including that carried by train, van, truck, or container.</p>
                        <div class="divider-single"></div>
                        <a href="service-details-1.html" class="btn-border-light wow fadeInUp" data-wow-delay=".4s" data-wow-duration=".3s">Learn More</a>
                    </div>
                </div>



                <div id="bg-service-3" class="box-one-third light-text">
                    <div class="inner">
                        <h2 class="wow fadeIn" data-wow-delay=".4s">Profitability</h2>
                        <p class="wow fadeIn" data-wow-delay=".5s">The word cargo refers in particular to goods or produce being conveyed generally for commercial gain by ship, boat, or aircraft, although the term is now often extended to cover all types of freight, including that carried by train, van, truck, or container. </p>
                        <div class="divider-single"></div>
                        <a href="service-details-2.html" class="btn-border-light wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".3s">Learn More</a>
                    </div>
                </div>

                <div id="bg-service-2" class="box-one-third light-text">
                    <div class="inner">
                        <h2 class="wow fadeIn" data-wow-delay=".6s">Sustainability</h2>
                        <p class="wow fadeIn" data-wow-delay=".7s">The word cargo refers in particular to goods or produce being conveyed generally for commercial gain by ship, boat, or aircraft, although the term is now often extended to cover all types of freight, including that carried by train, van, truck, or container. </p>
                        <div class="divider-single"></div>
                        <a href="service-details-3.html" class="btn-border-light wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".3s">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
                
            </section>

			
		
			
			<!-- section begin -->
           <!-- <section id="section-faq" class="light-text">

                <div class="container">
                    <div class="row">
                        <div class="text-center">
                            <h2 class="wow fadeInUp" data-wow-delay="0">FAQ
						<span>Frequently Asked Questions</span>
                            </h2>
                            <div class="small-border wow flipInY" data-wow-delay=".2s" data-wow-duration=".8s"></div>
                        </div>

                        <div class="col-md-6 wow fadeInLeft" data-wow-delay=".5s" data-duration=".75s">

                            <ul class="accordion">

                                <li>
                                    <a class="Active">Why are the shipping rates so volatile?</a>
                                    <div class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                    </div>
                                </li>

                                <li>
                                    <a class="NoneActive">What are the usual methods of freight payment?</a>
                                    <div class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                    </div>
                                </li>

                                <li>
                                    <a class="NoneActive">Do you handle international household moves?</a>
                                    <div class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                    </div>
                                </li>


                                <li>
                                    <a class="NoneActive">How and where can we pick up the cargo at destination?</a>
                                    <div class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                    </div>
                                </li>
                            </ul>

                        </div>


                        <div class="col-md-6 wow fadeInRight" data-wow-delay=".5s" data-duration=".75s">
                            <ul class="accordion">

                                <li>
                                    <a class="Active">Why are the shipping rates so volatile?</a>
                                    <div class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                    </div>
                                </li>

                                <li>
                                    <a class="NoneActive">What are the usual methods of freight payment?</a>
                                    <div class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                    </div>
                                </li>

                                <li>
                                    <a class="NoneActive">Do you handle international household moves?</a>
                                    <div class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                    </div>
                                </li>


                                <li>
                                    <a class="NoneActive">How and where can we pick up the cargo at destination?</a>
                                    <div class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="divider-single"></div>

                        <div class="text-center">
                            <a href="#" class="btn-border-light wow fadeInUp" data-wow-delay="0">Have More Questions?</a>
                        </div>


                    </div>
                </div>

                <div class="clearfix"></div>
            </section>
		 section close -->
			
			

          <!--  <div class="call-to-action text-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <h2>Contact us now to get quote for all your global shipping needs.</h2>
                        </div>

                        <div class="col-md-3">
                            <a href="#" class="btn-border-light">Contact Us</a>
                        </div>-->
                    </div>
                </div>
            </div>

        </div>


</body>
</html>
